<nav class="navbar navbar-default sticky" role="navigation">
  <ul class="nav navbar-nav row">
    <li ng-repeat="li in navs.list" class="col-xs-4">
      <a ng-class="{active: li == navs.selected}">{{li}}</a>
    </li>
  </ul>
</nav>

<section class="select-categories" ng-show = "step == 0">
  <ul>
    <li ng-repeat="category in data.categories" ng-click="selectCategory(category, $event)">
      <span class="text-info">{{category.name}}</span>
    </li>
  </ul>
</section>

<section class="select-cities" ng-show = "step == 1">
  <ul>
    <li ng-repeat="city in data.cities" ng-click="selectCity(city, $event)">
      <span class="text-info">{{city.name}}</span>
    </li>
  </ul>
</section>

<section class="select-restaurant" ng-show = "step == 2">
  <ul>
    <li ng-hide="data.restaurants.length > 0">暂时没找到匹配的， 亲！</li>
    <li ng-repeat="r in data.restaurants">
      <a href="{{r.link}}">
        <span>{{r.name}}</span> <br>
        <span class="small">{{r.address}}, {{r.city}}</span>
      </a>
    </li>
  </ul>
  <a class="btn btn-block btn-primary" ng-click="back()">返回</a>
</section>

<script>
  $('.sticky').sticky({
    offset: $('header')
  });
</script>