//palette
$theme_blue: #77c4d3;
$theme_blue_dark: #44aec2;

$cloud: #ECF0F1; //light gray
$cloud_heavy: #BDC3C7;
$gray: #95A5A6;
$gray_heavy: #7F8C8D;
$green: #2ecc71;
$green_heavy: #27AE60;
$tuiquoise: #1ABC9C;
$tuiquosie_dark: #16A085;
$yellow: #f1c40f;
$yellow_heavy: #F39C12;
$orange: #E67E22;
$orange_heavy: #D35400;
$red: #e74c3c;
$red_heavy: #C0392B;
$blue: #3498db;
$blue_heavy: #2980B9;
$black_blue: #34495E;
$black_blue_heavy: #2C3E50;