@import "palette";

body {
	//padding-top: 50px;
}

ul {
  list-style: none;
}

header {
	height: 40px;
	background-color: $tuiquoise;
	text-align: center;
	color: white;
	position: relative;
  
  .header-inner {
  	padding: 12px 20px 0;
  }

  
  i.icon {
		cursor: pointer;
	}

  .pull-left a {
    color: white;
  }
}

.fixed {
	position: fixed;
	top: 0;
}

.small {
  font-size: 0.8em;
}

.hover {
  cursor: pointer;
}

.search-input-container {
  z-index: 1050;
  position: absolute;
  bottom: -30px;
  left: 0;	
}
