@import "palette";

.search-page {
  .view section {
    $padding: 15px;

    ul {
      padding: 0;
    }

    li {
      padding: $padding 0;
      border-bottom: 1px solid #ddd;
      cursor: pointer;
      text-align: center;

      &:last-child {
        border-bottom-width: 0;
      }

      &:hover {
        background-color: #eee;
      }

      .small {
        color: $gray;
      }
    }

    &.select-restaurant, &.search-results {
      ul {
        margin-bottom: 0;
      }

      li {
        padding: 0;

        a {
          text-decoration: none;
          display: block;
          padding: $padding 0;
        }
      }

      .cell {
        padding: 10px 0;
        background-color: $cloud_heavy;
        color: white
      }
    }

    &.restaurant-section {
      .heading {
        h3 {
          margin-bottom: 0;
        }
      }
    }
  }
}
