@import "palette";

.search-page {
	.navbar {
    margin-bottom: 0;
    
    ul {
      margin: 0;

    	li {
        margin-top: 0;
        margin-bottom: 0;
	      text-align: center;

        a {
          padding-top: 0;
          padding-bottom: 0;
          line-height: 44px;
          white-space: nowrap;
           overflow: hidden;
          text-overflow: ellipsis;
        }

	    	a.active:after {
	        content: "";
	        width: 50%;
	        height: 5px;
	        background-color: $orange;
	        display: block;
	        margin: 0 auto;
	    	}
	    }
    }
	}

  .view section {
    ul {
      padding: 0;
    }

    li {
      padding: 15px 0;
      border-bottom: 1px solid #ddd;
      cursor: pointer;
      text-align: center;

      &:last-child {
        border-bottom-width: 0;
      }

      &:hover {
        background-color: #eee;
      }
    }
  }
}
